# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print (df.head())

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [3]:
# frequency table for prestige and whether or not someone was admitted
print ("Prestige:")
print (df.prestige.value_counts())

Prestige:
2.0    148
3.0    121
4.0     67
1.0     61
Name: prestige, dtype: int64

In [4]:
print ("Admit:")
print (df.admit.value_counts())

Admit:
0    271
1    126
Name: admit, dtype: int64

In [5]:
df.describe()

            admit         gre         gpa    prestige
count  397.000000  397.000000  397.000000  397.000000
mean     0.317380  587.858942    3.392242    2.488665
std      0.466044  115.717787    0.380208    0.947083
min      0.000000  220.000000    2.260000    1.000000
25%      0.000000  520.000000    3.130000    2.000000
50%      0.000000  580.000000    3.400000    2.000000
75%      1.000000  660.000000    3.670000    3.000000
max      1.000000  800.000000    4.000000    4.000000

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [6]:
dummies = pd.get_dummies(df.prestige, prefix = "prestige")

df_1 = df.loc[:,'admit':'gpa']
df_dummies = df_1.join(dummies)

df_dummies.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

#### 2.2 When modeling our class variables, how many do we need?

Answer: 

Only 3 dummies variables are required for modeling, because if all three variables are false or 0, the fourth variable is definitely true.

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [7]:
cols_to_keep = ['admit', 'gre', 'gpa']

#define dummies variables
dummy_ranks = pd.get_dummies(df.prestige, prefix = "prestige")
handCalc = df[cols_to_keep].join(dummy_ranks.loc[:, 'prestige_1':])
handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

In [8]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab(handCalc.admit, handCalc['prestige_1.0'])

prestige_1.0    0   1
admit
0             243  28
1              93  33

In [9]:
# FYI
# Crosstab for all prestige vs admit
pd.crosstab(handCalc.admit, [handCalc['prestige_1.0'],handCalc['prestige_2.0'],handCalc['prestige_3.0'],handCalc['prestige_4.0']])

prestige_1.0   0           1
prestige_2.0   0       1   0
prestige_3.0   0   1   0   0
prestige_4.0   1   0   0   0
admit
0             55  93  95  28
1             12  28  53  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [10]:
# People attended a #1 Ranked College 28 + 33
# Odd = Y/(1-Y) ; Y is probability
# Odd = instances of event / (total number of instance - instances of event)

# Odds of being admitted for people who attended #1 ranked college
admit_odds_p1 = 33/float(28)
print (admit_odds_p1)

1.1785714285714286

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [12]:
# People who do not attended a #1 Ranked College 243 + 93

# Odds of being admitted for people who attended #1 ranked college
admit_odds_not_p1 = 93/float(243)
print (admit_odds_not_p1)

0.38271604938271603

#### 3.3 Calculate the odds ratio

In [13]:
# odd ratio = odd_1 / odd_2

odd_ratio_p1 = admit_odds_p1/admit_odds_not_p1
print (odd_ratio_p1)

3.079493087557604

#### 3.4 Write this finding in a sentenance:

Answer: 

1. The odds for being admitted for people who attended #1 ranked college is 1.17857142857. Meaning, for every one person that attended #1 ranked college who DID NOT got admitted, there is 1.17857142857 people got admitted. 

2. The odds for being admitted for people who DID NOT attended #1 ranked college is 0.382716049383. Meaning, for every one person that attened other school who DID NOT got admitted, there is 0.382716049383 people got admitted. 

3. The Odds Ratio is 3.07949308756. Meaning there is almost 3 time higher chance of being admitted if you attend #1 ranked college than the other colleges.

#### 3.5 Print the cross tab for prestige_4

In [14]:
pd.crosstab(handCalc.admit, handCalc['prestige_4.0'])

prestige_4.0    0   1
admit
0             216  55
1             114  12

#### 3.6 Calculate the OR

In [15]:
odd_ratio_p2 = (12/float(55))/(114/float(216))
print (odd_ratio_p2)

0.4133971291866028

#### 3.7 Write this finding in a sentence

Answer:

The Odds Ratio is 0.413397129187. 

Meaning that people who attend the #4 ranked college will only have 40% of the odds to be admitted, compaing to people who attend other college.

## Part 4. Analysis

In [16]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.loc[:, 'prestige_2':])
print (data.head())

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [17]:
# manually add the intercept
data['intercept'] = 1.0

# Visualize the data
# Adding new column call "intercept", all values are 1 
data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0  intercept
0      0  380.0  3.61             0             1             0        1.0
1      1  660.0  3.67             0             1             0        1.0
2      1  800.0  4.00             0             0             0        1.0
3      1  640.0  3.19             0             0             1        1.0
4      0  520.0  2.93             0             0             1        1.0

#### 4.1 Set the covariates to a variable called train_cols

In [22]:
# Covariates -> Independent Variables (predictors)

train_cols = ['gre','gpa','prestige_2.0','prestige_3.0','prestige_4.0','intercept']
#train_cols = ['gre','gpa','prestige_2.0','prestige_3.0','prestige_4.0']

#### 4.2 Fit the model

In [23]:
lmodel = sm.Logit(data['admit'], data[train_cols])
results = lmodel.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

In [ ]:
# import Scikit Learn package
from sklearn import feature_selection, linear_model
lm = linear_model.LinearRegression.fit()

#### 4.3 Print the summary results

In [24]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Mon, 22 Jan 2018   Pseudo R-squ.:                 0.08166
Time:                        17:25:00   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [30]:
odd_ratio_lm = lmodel.fit().params.apply(np.exp)
print (odd_ratio_lm)

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6
gre             1.002221
gpa             2.180027
prestige_2.0    0.506548
prestige_3.0    0.262192
prestige_4.0    0.211525
intercept       0.020716
dtype: float64

In [37]:
x = results.conf_int()
conf = pd.DataFrame(data={'2.5%': x[0], '97.5%': x[1], 'OR': odd_ratio_lm})
conf.head(6)

                  2.5%     97.5%        OR
gre           0.000074  0.004362  1.002221
gpa           0.127619  1.431056  2.180027
prestige_2.0 -1.301337 -0.058936  0.506548
prestige_3.0 -2.014579 -0.662776  0.262192
prestige_4.0 -2.371624 -0.735197  0.211525
intercept    -6.116077 -1.637631  0.020716

#### 4.5 Interpret the OR of Prestige_2

Answer:

#### 4.6 Interpret the OR of GPA

Answer:

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [3]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

        
#AL: python 3 change the division to return type float (need to do integer())
#AL: python 2 return division to integer
    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        #AL: xrange is removed in python 3 
        # xrange for python two is to not save array to memory
        # python 3 add this attibute to range() function
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [40]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print (gres)
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print (gpas)
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

TypeError: slice indices must be integers or None or have an __index__ method

#### 5.1 Recreate the dummy variables

In [ ]:
# recreate the dummy variables

# keep only what we need for making predictions

#### 5.2 Make predictions on the enumerated dataset

#### 5.3 Interpret findings for the last 4 observations

Answer:

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.