# Guided Practice: Logit Function and Odds

In [23]:
import pandas as pd
import numpy as np

In [24]:
def logit_func(odds):
    # uses a float (odds) and returns back the log odds (logit)
    return np.log(odds)

def sigmoid_func(logit):
    # uses a float (logit) and returns back the probability
    return 1. / (1 + np.exp(-logit))

odds_set = [
    5./1,
    20./1,
    1.1/1,
    1.8/1,
    1.6/1
]

In [25]:
# This is the probablility for the odds_set

for odds in odds_set:
    print (sigmoid_func(logit_func(odds)))

0.833333333333
0.952380952381
0.52380952381
0.642857142857
0.615384615385

# Logistic Regression Implementation

In [4]:
import statsmodels.api as sm

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [32]:
df = pd.read_csv('../../assets/dataset/collegeadmissions.csv')
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [33]:
df_dummies = df.join(pd.get_dummies(df['rank']))
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [35]:
x = df_dummies[['gre', 'gpa', 1, 2, 3,]]
x = sm.add_constant(x)
y = df_dummies['admit']

lm = sm.Logit(y,x)
result = lm.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.573147
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      394
Method:                           MLE   Df Model:                            5
Date:                Mon, 22 Jan 2018   Pseudo R-squ.:                 0.08292
Time:                        20:21:40   Log-Likelihood:                -229.26
converged:                       True   LL-Null:                       -249.99
                                        LLR p-value:                 7.578e-08
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -5.5414      1.138     -4.869      0.000      -7.772      -3.311
gre            0.0023      0.001      2.070      0.038       0.000       0.004
gpa            0.8040      0.332      2.423      0.015       0.154       1.454
1              1.5515      0.418      3.713      0.000       0.733       2.370
2              0.8760      0.367      2.389      0.017       0.157       1.595
3              0.2113      0.393      0.538      0.591      -0.559       0.981
==============================================================================
"""

In [36]:
print(df_dummies.admit.mean())

0.3175

In [37]:
print(np.exp(result.params))

const    0.003921
gre      1.002267
gpa      2.234545
1        4.718371
2        2.401325
3        1.235233
dtype: float64

In [44]:
predicted = result.predict(x)
# Need to review
threshold = 0.5
predicted_classes = (predicted > threshold).astype(int)
from sklearn.metrics import accuracy_score
accuracy_score(y, predicted_classes)

0      0
1      0
2      1
3      0
4      0
5      0
6      0
7      0
8      0
9      1
10     0
11     0
12     1
13     0
14     1
15     0
16     0
17     0
18     1
19     1
20     0
21     0
22     0
23     0
24     0
25     1
26     1
27     0
28     0
29     0
      ..
370    0
371    0
372    0
373    1
374    0
375    0
376    0
377    1
378    0
379    0
380    0
381    0
382    0
383    1
384    0
385    0
386    1
387    0
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
Length: 400, dtype: int64

0.70999999999999996